include *.rst
include LICENSE
include drf_jsonschema_serializer/py.typed
recursive-include drf_jsonschema_serializer *.html
recursive-include drf_jsonschema_serializer *.txt
recursive-include drf_jsonschema_serializer *.po
global-exclude __pycache__
global-exclude *.py[co]
