include *.rst
include LICENSE
include drf_jsonschema/py.typed
recursive-include drf_polymorphic *.html
recursive-include drf_polymorphic *.txt
recursive-include drf_polymorphic *.po
global-exclude __pycache__
global-exclude *.py[co]
